@page "/view"

@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation

<PageTitle>Generated Designs</PageTitle>
<header class="navbar">
    <div class="container">
        <a href="/">
            <button class="back-button">Back</button>
        </a>
        <h1 class="logo">DesignGenie</h1>
    </div>
</header>




<section class="gallery-header">
    <h1>Previously Generated Designs</h1>
    <div class="section-divider"></div>
    <p class="sub-text">
        Explore examples of what DesignGenie can create — from realistic product renders to modern UI mockups.
    </p>
</section>
 
 
  

  <div class="imag">
       
        <img src="generated-image.png" alt="Bed Design">
        <img src="generated-image (1).png" alt="App UI">
        <img src="genrate_chair.png" alt="App UI">
        <img src="app_lay.png" alt="App UI">

    </div>
  

